.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styling */
.NavbarBrand {
  background-color: white;
  border-radius: 16px;
  border: 2px solid white;
  padding: 4px;
  margin-left: 10px;
}

.LeftContainer {
  padding-top: 1%;
  float: left;
  margin: 0 auto;
  width: 100%;
  padding-right: 0px;
}
.Cellpadding {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.LImage {
  border-radius: 75px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px gray;
  height: 60%;
  width: 60%;
  margin: 5% auto;
}
.N5vColor {
  background-color: #cf6a6a;
}

.RequestsContainer {
  margin-top: 1px;
  height: 100vh;
  padding-top: 30px;
  padding-left: 38px;
  float: left;
  margin-right: 0;
  width: 100%;
}

.ScheduleContainer {
  margin-top: 1px;
  height: 100vh;
  padding-top: 30px;
  float: left;
  width: 100%;
  margin-left: 7%;
}

.ContainerPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.span1 {
  font-size: 18px;
  margin-right: 0 !important;
  margin-left: 0;
  text-align: left;
  font-weight: 600;
  align-self: left;
}

.span2 {
  font-size: 18px;
  margin-left: 0px;
  text-align: left;
  align-self: left;
}

.MainPara {
  text-align: left;
}

.SearchBar {
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px gray;
  padding: 20px;
  width: 350px;
  height: 15px;
  color: black;
}

.PContainer {
  text-align: left;
  padding-bottom: 10px;
}
.PImage {
  float: left;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  background-image: url("https://cdn2.iconfinder.com/data/icons/user-people-4/48/6-512.png");
  background-size: 70px;
  margin-right: 5px;
}

.PInfo p {
  margin-bottom: 0;
}

.MainContainer {
  margin-top: 1px;
  height: 100% !important;
  padding-top: 30px;
  padding-left: 38px;
  float: left;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.RightContainer {
  height: 100vh;
  padding-top: 15%;
  float: right;
  margin-left: 0;
  width: 100%;
}

#button {
  padding: 10px 40px;
}

#button2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Select {
  width: 100px;
  margin-left: 55px !important;
}

.Secondaryred {
  background-color: #cf6a6a;
}
.MainContainer {
  margin-top: 1px;
  height: 93vh;
  padding-top: 30px;
  padding-left: 38px;
  float: left;
  width: 100%;
}
.ContainerPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.span1 {
  font-size: 25px;
  margin-right: 500px;
  margin-left: 0;
  text-align: left;
  font-weight: 600;
  align-self: left;
}

.MainPara {
  text-align: start;
}

.SearchBar {
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px gray;
  padding: 20px;
  margin-right: 30px;
  width: 350px;
  height: 15px;
  color: black;
  float: right;
}

.PContainer {
  text-align: left;
  padding-bottom: 10px;
}
.PImage {
  float: left;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  background-image: url("https://cdn2.iconfinder.com/data/icons/user-people-4/48/6-512.png");
  background-size: 70px;
  margin-right: 5px;
}

.PInfo p {
  margin-bottom: 0;
}

.RightContainer {
  height: 100vh;
  padding-top: 15%;
  float: right;
  margin-left: 0;
  width: 100%;
}

.span2 {
  align-items: center;
}

.formclass {
  width: 70%;
  padding: 20px;
  margin-left: 100px;
}

.patientprofilemain {
  width: 100%;
  padding-left: 100px;
  padding-top: 60px;
  height: 120vh !important;
  margin-top: 30px;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #f5f5f5;
}
.ppmain {
  padding-left: 100px;
  padding-top: 60px;
}
.DocNameSpan {
  float: left;
  margin-top: 40px;
  padding-left: 10px;
  font-size: 35px;
}
.EditButton {
  float: right;
  margin-right: 45px;
  margin-top: 45px;
}
.docinfo {
  margin-top: 90px;
  text-align: left;
  margin-left: 40px;
  height: 100%;
  margin-right: 100px;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
}
.defred {
  background-color: #cf6a6a !important;
}
#nav1 {
  background-color: #cf6a6a !important;
}
.defgrey {
  background-color: #f5f5f5 !important;
}
.appointmentbox {
  background: #f5f5f5;
  border-radius: 10px;
  padding-top: 40px;
  padding-left: 38px;
  width: 85%;
  padding-bottom: 50px;
}
.AppointmentContainer {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 90vh;
  margin-top: 2.5%;
}
.PatientNameTime {
  text-align: left;
  float: left;
  width: 80%;
  margin-left: 20px;
  margin-top: 20px;
}
.Patientprofilebutton {
  float: right;
  padding-right: 40px;
  margin-top: 22px;
}
#div1 {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}
