.outerContainer{
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-top: 100px;
}
.innerContainer{
    background-color:#CF6A6A;
    justify-self: center;
    width: 600px !important;

}
.innerField{
    background-color: #F5F5F5;
    border-radius: 15px;
    margin: 20px;
}
.welcome{
    padding-top: 35px;
}
.form{
    padding-left: 20px;
    padding-right: 20px;
}
.gridContainer{
    justify-content: center;
}
#stylebutton{
    background-color:#CF6A6A;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
}
.link{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.fields-container{
    justify-content: center;
}
.fields-inner-container{
    padding: 20px;
}
.fields{
    width: 400px !important;
    background-color: white;
    border-radius: 5px; 
}
.signInButton{
    width: 300px !important;
    height: 50px !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
@media screen and (max-width: 599px){
    .fields{
        width: 300px  !important;
    }
    .innerContainer{
        width: 450px !important
    }
    .signInButton{
        width: 200px !important;
    }
}
@media screen and (max-width: 400px){
    .fields{
        width: 245px !important;
    }
    .signInButton{
        width: 150px !important;
    }
}
@media screen and (max-width: 360px){
    .innerContainer{
        width: 310px !important
    }
}