@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* .bodyStyles{
    
    font-family: 'Montserrat', sans-serif;

} */
.innerContainer{
    width: 600px !important
}
.fields-container{
    justify-content: center;
}
.fields-inner-container{
    padding: 20px;
}
.fields1{
    width: 235px !important;
    background-color: white;
    border-radius: 5px; 
}
.signUpButton{
    width: 300px !important;
    margin-top: 40px !important;
    height: 50px !important;
}
.patientDetails{
    border: 0.8px solid black;
    border-radius: 20px;
}
@media screen and (max-width: 599px){
    .fields{
        width: 300px !important;
    }
    .innerContainer{
        width: 450px !important
    }
    .signUpButton{
        width: 200px !important;
    }
}
@media screen and (max-width: 400px){
    .fields{
        width: 245px !important;
    }
    .signUpButton{
        width: 150px !important;
    }
}
@media screen and (max-width: 360px){
    .innerContainer{
        width: 310px !important
    }
}